@{
    ViewData["Title"] = "Apply for a loan";
}
<div class="text-center">
    <h2 class="display-4">Apply for a loan!</h2>
    <div id="loanForm">
        <div class="form-group text-center">
            <label for="purpose">Purpose:</label>
            <select class="form-control text-center" id="purpose" required>
                <option value="Car">Car</option>
                <option value="House" selected>House</option>
                <option value="Hytte">Hytte</option>
                <option value="Vacation">Vacation</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group text-center">
            <label for="loanBaseAmount">Loan Amount:</label>
            <input type="number" class="form-control text-center" id="loanBaseAmount" value="8000000" required>
        </div>
        <div class="form-group text-center">
            <label for="interest">Interest:</label>
            <select class="form-control text-center" id="interest" required>
                <option value="0.03">3% over 15 years</option>
                <option value="0.04" selected>4% over 20 years</option>
                <option value="0.05">5% over 25 years</option>
            </select>
        </div>
        <button type="button" id="submitLoan" class="btn btn-primary">Submit</button>
    </div>

    <div id="loanInfo" style="display:none;">
        <hr/>
        <h1>Loan Information</h1>
        <div id="loanDetails"></div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/loan/getallloansbypersonid",
                contentType: "application/json",
                success: function (response) {
                    console.log("get all loans by person id - success")
                    if (response.length > 0) {
                        console.log(response);
                        var loanDetailsHtml = "<table class='table'>" +
                            "<thead>" +
                            "<tr>" +
                            "<th>Loan #</th>" +
                            "<th>Base Amount</th>" +
                            "<th>Total Amount</th>" +
                            "<th>Due UTC</th>" +
                            "<th>Interest</th>" +
                            "<th>Approved</th>" +
                            "</tr>" +
                            "</thead>" +
                            "<tbody>";
                        for (var i = 0; i < response.length; i++) {
                            var loan = response[i].loan;
                            var startDate = new Date(loan.startDatetimeUtc);
                            var durationInDays = loan.durationInDays;
                            var dueDate = new Date(startDate.getTime() + (durationInDays * 24 * 60 * 60 * 1000));
                            loanDetailsHtml += "<tr>";
                            loanDetailsHtml += "<td>" + (i + 1) + "</td>";
                            loanDetailsHtml += "<td>" + loan.loanBaseAmount.toLocaleString('no-NO', { style: 'currency', currency: 'NOK' }) + "</td>";
                            loanDetailsHtml += "<td>" + (loan.loanTotalAmount).toLocaleString('no-NO', { style: 'currency', currency: 'NOK' }) + "</td>";
                            loanDetailsHtml += "<td>" + dueDate.toLocaleDateString('no-NO') + "</td>";
                            loanDetailsHtml += "<td>" + (loan.interest * 100).toFixed(2) + "%</td>";
                            loanDetailsHtml += "<td>" + (loan.isApproved ? "Yes" : "No") + "</td>";
                            loanDetailsHtml += "</tr>";
                        }
                        loanDetailsHtml += "</tbody></table>";
                        $("#loanDetails").html(loanDetailsHtml);
                        $("#loanInfo").show();
                    }
                    else {
                        console.log("But no loans applied for yet :(")
                    }
                },
                error: function (xhr, status, error) {
                    console.log("fail request:", status, error)
                }
            });

            $('#submitLoan').on('click', function () {
                var purpose = $('#purpose').val();
                var loanBaseAmount = $('#loanBaseAmount').val();
                var interest = $('#interest').val();

                var data = {
                    'Purpose': purpose,
                    'LoanBaseAmount': loanBaseAmount,
                    'Interest': interest,
                };
                console.log("making request", data)
                // Send the loan data to the server via AJAX
                $.ajax({
                    type: "POST",
                    url: "/api/loan",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (response) {
                        // Handle the response from the server here
                        console.log("success!", response)
                        alert("Loan application submitted successfully - please refresh!");
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the AJAX request here
                        console.log("fail request:", status, error)
                        alert("Error submitting loan application. Please try again later.");
                    }
                });
            });
        });
    </script>
</div>