@{
    ViewData["Title"] = "DeNicestBank";
}

<div class="text-center">
    <h1 class="display-4">Welcome to De Nicest Bank!</h1>
    <p>Checkout customer view if you're a customer, or an adviser view if you're an adviser.</p>
</div>